.appcontainer {
    width: 90%;
    margin-left:5%; 
}
nav {
    padding: 10px;
    margin-bottom: 10px;
}
nav a {
    margin-left: 15px;
    text-decoration: none;
    background-color: #bebebe;
    padding: 10px;
    cursor: pointer;
}