<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name">
    <p>Hello : {{hero.name}}</p>
  </label>
  <h2>List student</h2>
  <ul>
    <li *ngFor ="let hero of heros" [class.selected] = "hero == heroCopy" (click) = "hello(hero)">
      <div class="wraper">
        <div class="age">{{hero.age}}</div>
        <div class="name">{{hero.name}}</div>
      </div>
      
    </li>
  </ul>
  <div *ngIf="heroCopy">
  <h2>You are select : {{heroCopy.name}} age {{heroCopy.age}}</h2>
</div>
</div>
