li:hover {
    cursor: pointer;
    font-size: 20px;
}
.wraper{
    height: 40px;
    width: 30%;
    background-color: antiquewhite;
    margin-bottom: 4px;
    line-height: 3;
    border-radius : 10px 0px 10px,0px;
}
.age {
    width: 10%;
    float: left;
    height: 100%;
    background-color: blueviolet;
    border-radius : 10px 0px 10px,0px;
}
.age,.name {
    padding-left: 5px;
}